{% extends "base.html" %}
{% block title %}Rimuovi Privacy{% endblock %}
{% block content %}
<div class="container">
        <h3>Pagina di Rimozione dell’Utente</h3>
        <p>In conformità con il Regolamento Generale sulla Protezione dei Dati (GDPR) (UE) 2016/679, [Nome dell’Azienda] riconosce il diritto dell’utente alla cancellazione dei propri dati personali (“diritto all’oblio”). Se desideri richiedere la rimozione dei tuoi dati personali dal nostro sistema di mappatura delle skill aziendali, ti invitiamo a seguire la procedura qui descritta.</p>
        <h4>Procedura di Cancellazione:</h4>
        <ol>
        <li>
        <p><strong>Verifica dell’Identità:</strong> Per proteggere la tua privacy e sicurezza, [Nome dell’Azienda] richiede una verifica della tua identità prima di procedere con qualsiasi richiesta di cancellazione dei dati.</p>
        </li>
        <li>
        <p><strong>Compilazione del Form:</strong> Completa il form di cancellazione sottostante, fornendo tutte le informazioni richieste per facilitare l’identificazione e la rimozione dei tuoi dati.</p>
        </li>
        <li>
        <p><strong>Check Esplicito:</strong> È necessario fornire un consenso esplicito alla cancellazione dei dati personali. Si prega di spuntare la casella sottostante per indicare il tuo accordo.</p>
        </li>
        <li>
        <p><strong>Conferma di Cancellazione:</strong> Una volta ricevuta la tua richiesta, [Nome dell’Azienda] procederà con la rimozione dei tuoi dati personali dai nostri sistemi entro 30 giorni lavorativi, salvo ulteriori comunicazioni.</p>
        </li>
        <li>
        <p><strong>Notifica:</strong> Riceverai una notifica via email una volta completata la cancellazione dei tuoi dati.</p>
        </li>
        </ol>
        <h4>Form di Cancellazione</h4>
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="mb-3 form-check">
            {{ form.revoke_consent() }} {{ form.revoke_consent.label }}
        </div>
        {{ form.submit(class="btn btn-warning") }}
    </form>
</div>
{% endblock %}