{% extends "base.html" %}
{% block title %}Users{% endblock %}
{% block content %}
<div class="container">
    <h1>All Users</h1>
    <a href="{{ url_for('create_user') }}" class="btn btn-primary">Create User</a>
    <table class="table">
        <thead>
            <tr>
                <th>Surname</th>
                <th>Name</th>
                <th>Email</th>
                <th>Is Senior</th>
                <th>Role</th>
                <th>Privacy Accepted</th>
                <th>Last Login</th>  
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr {% if user.senior %}class="table-primary"{% endif %}>
                <td>{{ user.surname }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.senior }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.accepted_privacy }}</td>
                <td>{{ user.format_last_login() }}</td>
                <td>
                    <form action="{{ url_for('toggle_senior') }}" method="post" style="display: inline;">
                        <input type="hidden" name="user_id" value="{{ user.id }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button type="submit" class="btn btn-primary btn-sm">Toggle Senior</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
